/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-pandp-blocks-accordion {
 border: 1px solid black;
 margin: 15px;
 padding: 15px;
}

.wp-block-pandp-blocks-accordion > .accordion-panel {
  display: none;
}

.wp-block-pandp-blocks-accordion.is-active > .accordion-panel {
  display: block;
}
